
<div class="container">
    <h1>Tours</h1>
        <div class="well">
            <ul class="nav nav-pills">
                {{#link-to 'tours.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
                {{#link-to 'tours.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
            </ul>
        </div>
</div>
{{outlet}}